.disclaimer {
    border: orange;
    border-width: 0.1em;
    border-style: solid;
    background-color: rgba(252, 204, 142, 0.5);
    display: block;
    padding: 0.5em;
}

.disclaimer:before {
    content: "DISCLAIMER: ";
    font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}

.listing-table {
    width: auto;
}

.listing-table td:first-child, .listing-table th:first-child {
    padding: 12px;
    width: auto;
}

.listing-table th {
    background-color: aliceblue;
}

.listing-table td, table.listing-table th {
    display: table-cell;
    word-wrap: break-word;
    padding: 12px;
    vertical-align: top;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    text-align: left;
}

strong {
    color:#555555
}

.supported {
    background: rgba(0, 255, 0, 0.3);
}

.unsupported {
    background: rgba(255, 0, 0, 0.3);
}

.partially-supported {
    background: rgba(255, 127, 0, 0.3);
}

img.limit-max-width {
    max-width: 700px;
}